@charset "UTF-8";
$heiti : "SimHei";
$yahei : "Microsoft YaHei";
$songti : "simsun";
body{
	min-width: 1280px;
}
body,div,section,article,h1,h2,h3,h4,h5,h6,ul,ol,figure,p,hr{
	padding:0;
	margin: 0;
}
a{
	text-decoration: none;
}
.container-wrap{
	position: relative;
}


@import "header";
@import "container";
@import "leftnav";
